* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0%;
}

h1{
    text-align: center;
    width: 100%;
    background-color: brown;
}

body {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

