* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0%;
}

h1{
    text-align: center;
    width: 100%;
    background-color: brown;
}

body {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.product-container{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:1%;
    margin: 1%

}
.product {
    display:grid;
    grid-row-start: 1;
    grid-row-end: 3;
    gap: 5px;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(134, 207, 241));
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px darkslategrey;
    color: darkslateblue;

}
.product:hover {
    scale:105%;
    cursor:pointer;
}

